<h1><%= @car.brand %> <%= @car.model %></h1>
<p><strong>Year:</strong> <%= @car.year %></p>
<p><strong>Fuel:</strong> <%= @car.fuel %></p>
<p><strong>Owner:</strong> <%= @car.owner.nickname %></p>

<%= link_to 'Back to All Cars', cars_path %>
